/* NAVBAR............. */
.navbar-nav li{
    padding: 0px 5px;
}

/* ..............................................................FLEX 1 */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 600px;
    margin-bottom: 0px;
  }
  
  /* ..................................FLEX1 LEFT */
  .flex-item-left {
    background-color: rgb(207, 207, 207);
    background-image: radial-gradient(closest-side at 40% 40%,rgb(84, 84, 84),rgb(43, 43, 43));
    padding: 10px;
    flex: 50%;
  }
  
  .flex-item-left .firstbutton{
      position: relative;
      margin-top: 8%;
      left: 15%;
      width: 60%;   
    }
  
  .flex-item-left .firstbutton button{
  background-color: rgba(0, 0, 0, 0.748);
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 4px;
  }
  
  .flex-item-left .firstbutton P{
      font-style: italic;
      width: 450px;
      margin-top: 0px;
      color: rgba(255, 255, 255, 0.904);
      font-size: small;
  }
  .flex-item-left .firstbutton h2{
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      color: rgb(0, 255, 149);
      font-weight: bolder;
      font-size: 40px;
      margin-bottom: 5px;
      text-shadow: 2px 2px 0px black;
  }
  .flex-item-left .firstbutton a{
      color: white;
      font-size: small;
  }
  .flex-item-left .firstbutton a:hover{
   text-decoration: none;
  }
  .firstbutton .fa-brands{
      margin: 5px;
      color: aliceblue;
  }
  
  .fa-brands .fa-google-play{
    color: black;
  }
 

 .googleButton{
    animation-timing-function: ease-out;
    animation-name: mymove1; 
    position: relative;
    animation-duration: 2s;
    animation-fill-mode: forwards;
 }
 @keyframes mymove1 {
    0%   {left:0px; top:0px; background-color: rgba(0, 0, 0, 0.179);}
    50%  {left:80px; top:0px; background-color: rgba(0, 0, 0, 0.514);}
    100% {left:80px; top:40px; background-color: black; box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.347);}

  }

 .appleButton{
    animation-timing-function: ease-out;
    animation-name: mymove2;
    position: relative;
    animation-duration: 2s;
    animation-fill-mode: forwards;
 }
  @keyframes mymove2 {
    0%   {left:0px; top:0px; background-color: rgba(0, 0, 0, 0.179);}
    50%  {left:80px; top:0px; background-color: rgba(0, 0, 0, 0.651);}
    100% {left:80px; top:40px; background-color: rgb(0, 0, 0); box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.347);}


    /* 50%  {left:80px; top:0px; background-color: rgba(0, 0, 0, 0.651);} */
        /* 100% {left:80px; top:40px; background-image: radial-gradient(rgb(239, 248, 82),rgb(151, 111, 61)); box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.347);color: black;} */

  }

  /* .................................FLEX1 RIGHT */
  .flex-item-right {
    flex: 40%;
    background-color: transparent;
    background-color: rgb(43, 43, 43);
  }
  
  .flex-item-right img{
      width: 350px;
      height: auto;
      position: relative;
      left: 50px;
  }

   
  @media (max-width: 800px) {
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
    .flex-item-right .rotateImg{
      rotate: none;
    }
    .flex-item-left .firstbutton P{
      width: 350px;
    }
    .flex-item-left .firstbutton h2{
      width: 300px;
    }
    .flex-item-right img{
      width: 200px;
      height: auto;
      position: relative;
      left: 30%;
      margin-bottom: 10x;
      padding: 10px;
    }
    @keyframes mymove1 {
      0%   {left:0px; top:0px; background-color: rgba(0, 0, 0, 0.179);}
      100% {left:0px; top:0px; background-color: black; box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.347);}
    }
    @keyframes mymove2 {
      0%   {left:0px; top:0px; background-color: rgba(0, 0, 0, 0.179);}
      100% {left:75px; top:0px; background-color: rgb(1, 3, 41); box-shadow: 1px 1px 0px rgba(255, 255, 255, 0.347);}
    }
  
  }

  /* ..............................................FLEX 2 */
  .flex-container2 {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    padding: 120px 40px;
background-color: white;    
    
  }
  .flex-container2 .fa-solid{
    margin-bottom: 50px;
    /* margin-top: 10px; */
color: rgb(9, 200, 200);
color: deeppink;
color: darkslategrey;
color: bisque;
color: hotpink;
color: palevioletred;
color: rgb(21, 31, 48);
color: crimson;
color: darkorchid;

  }

  .collegeExpertise {
    font-weight: bold;
    font-size: larger;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .flex-item-left2 {
    padding: 20px;
    flex: 30%; 
  }
  
  .flex-item-center2 {
    padding: 20px;
    flex: 30%;
  }
  
  .flex-item-right2 {
    padding: 20px;
    flex: 30%;
  }
  
  @media (max-width: 800px) {
    .flex-item-right2, .flex-item-center2  ,.flex-item-left2{
      flex: 100%;
    }
    .flex-item-left2{
      margin-top: 0px;
    }
    .flex-container2{
      background-image: linear-gradient(to bottom, transparent);
    }
  }

  /* ....................................................CAROUSEL */
  .carousel-inner{
    width: 100%;
    background-color: aqua;
    background-image: url(black.jpeg);
    }
.carousel-item h1{
    text-align: center;
    font-size: large;
    padding-top: 40px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-style: italic;
color: white;
  }
  .carousel-item p{
    color: rgb(215, 215, 215);
    font-weight: bold;
  }

.carousel-item{
    padding: 20px 150px;
}



/* .....................................................FLEX3 INSIDE CAROUSEL */
.flex-container3 {
display: flex;
flex-wrap: wrap;
text-align: center;
width: 40%;
margin-left: 30%;
margin-top: 20px;
padding-bottom: 40px;
}

.flex-item-left3 {
flex: 50%; 
}

.flex-item-left3 img{
width: 200px;
height: 200px;
border-radius: 100%;
}

.flex-item-right3 {
flex: 50%;
background-color: transparent;
}

.flex-item-right3 p{
text-align: center;
/* margin-top: 40%; */
}

@media (max-width: 800px) {
  .carousel-item h1{
    font-size: medium;
  }
  .flex-container3 {
    margin-left: 30%;
  }
  .flex-item-left3 img{
    width: 150px;
    height: 150px;
  }
  .flex-item-right3 p{
    margin-top: 5px;
  }
  .flex-item-right3{
    margin-left: 40px;
  }
  .carousel-item{
    padding: 20px 50px;
  }
}


/* ..............................................JUMBOTRON */

.jumbotron h1{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
}
.jumbotron p{
   font-weight: bold;
   color: rgb(79, 79, 79);
}

/* .............................................COLLABRATORS */
.collabList{
  width: 80%;
  position: relative;
  left: 8%;
  margin-bottom: 300px;
}

.collabList li{
  float: left;
  list-style-type: none;
  margin: 0px 20px;
}

.collabList img{
  width: 200px;
  height: auto;
}
@media (max-width: 800px) {
  .collabList img{
  width: 110px;
  height: auto;
}
.collabList{
  width: 100%;
  position: relative;
  left: 0%;
  margin-bottom: 200px;
}
.collabList li{
  margin: 0px;
 
}
}

/* <!-- ...............................................................COURSES CARD --> */  
.CardsBackDiv{
   padding: 0px 113px;
}

.card{
    width: 300px;
    display: inline-block;
    margin: 20px;
    margin: 20px 20px 0px 20px;
    background-image: linear-gradient(to bottom, transparent, rgba(69, 69, 69, 0.834), rgba(0, 0, 0, 0.819));
    padding: 0px;
    height: 500px;
    border: 0px solid transparent;
    border-radius: 0px 0px 20% 20%;
}

.card:hover{
  box-shadow: 0px 10px 10px rgb(0, 0, 0);
}

.card-title{
    text-align: center;
    padding: 10px;
    padding: 10px 10px 0px 10px ;
    font-weight: bolder;
    color: rgb(19, 29, 0);
    text-transform: capitalize;
}

.card-img-top{
    width: 250px;
    margin: 0px 25px;
    height: 300px;
    border-top: 2px solid black;
    box-shadow: 0px 0px 10px black;
}

.card-text{
    font-size: smaller;
    padding: 0px;
    color: rgb(255, 255, 255);
    font-weight: 450;
    list-style-type: square;
    margin-left: 10px;  
}

.btn{
    background-color: rgb(17, 211, 218);
    padding: 0px 5px;
    position: relative;
    left: 30%;
    border: 2px dotted;
}

.btn:hover{
  background-color: chartreuse;
}

@media (max-width: 800px) {
  .CardsBackDiv{
    padding-left: 15%;
  }
}

/* <!-- ......................................................................FOOTER --> */

  .onlyStar{
    margin-left: 15%;
  }
  
  .endGooglePlay{
background-color: black;
font-size: medium;
padding: 10px 20px;
border-radius: 10px;
margin-top: 3%;
border-color: 2px solid rgb(184, 184, 184);
  }

  .endGooglePlay .fa-brands{
    color: white;
    margin-right: 10px;
  }

  .endGooglePlay:hover{
    box-shadow: 0px 0px 5px white;
  }

  .endApplePlay{
font-size: medium;
padding: 10px 20px;
margin-top: 3%;
border-radius: 10px;
border-color: 2px solid rgb(184, 184, 184);
background-color: black;
  }

  .endApplePlay .fa-brands{
    color: white;
    margin-right: 10px;
  }

  .endApplePlay:hover{
    box-shadow: 0px 0px 5px white;
  }

  .rating{
    background-image: linear-gradient(to right, black, white, black);
    margin-top: 5%;
    height: 250px;
    width: 60%;
    padding: 20px;
    position: relative;
    left: 20%;
  }

  .rating .DotCom{
    font-size: 30px;
    font-weight: bolder;
  }

  .rating .StarReviews{
    font-size: small;
  }

  .rating li{
    list-style-type: none;
    float: left;
    margin: 10px;
    background-color: rgb(14, 36, 2);
    padding: 5px 10px;
    border-radius: 100%;
  }

  .rating .fa-star{
    color: rgb(255, 255, 255);
  }

  .rating .oddStar{
    background-color: rgb(153, 255, 0);
  }
